.wrapper {
  display: flex;
  align-items: center;
  .img {
    margin-right: 5px;
    border: 0.5px solid #fff;
    border-radius: 50%;
    display: flex;
    box-shadow: 0 2px 4px rgb(0 0 0 / 40%), 0 7px 13px -3px rgb(0 0 0 / 30%),
      inset 0 -3px 0 rgb(0 0 0 / 20%);
  }
}
