.footerSection {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 80px;
  background-color: white;
  padding-top: 10px;
  .footerWrapp {
    overflow: hidden;
  }

  .footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    // padding-top: 15px;
    // padding-bottom: 15px;

    .btnWrapp {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        padding-top: 8px;
      }
    }
  }
}
