.footerSection {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 80px;
  // background-color: white;
  padding-top: 10px;
  backdrop-filter: blur(20px);
  background: hsla(0, 0%, 100%, 0.7);

  -webkit-box-shadow: -1px -5px 10px -1px rgba(0, 0, 0, 0.91);
  -moz-box-shadow: -1px -5px 10px -1px rgba(0, 0, 0, 0.91);
  box-shadow: -1px -5px 10px -1px rgba(0, 0, 0, 0.91);
  .footerWrapp {
    overflow: hidden;
  }

  .footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    // padding-top: 15px;
    // padding-bottom: 15px;

    .btnWrapp {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        padding-top: 8px;
      }
    }
  }
}
