// Header
// Header

// Navbar
.nav {
  background-color: rgba(0, 119, 134, 0.651);
  overflow: hidden;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
