.wrapper {
  padding-top: 60px;
  // background-color: aquamarine;
  // margin-top: 46;

  & > div {
    width: 80vw;
  }

  .selects {
    display: flex;
    justify-content: space-around;
  }

  .btnWrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
}
